
*.cache

*.cache

*.cache

*.dll

*.pdb


*.dll

*.pdb

*.suo

*.dll

*.pdb

*.pdb

/TGAN_Svc/*
/Web/bin/*
/BusinessLayerLogic/obj/*
/.vs/*

BusinessLayerLogic/obj/Debug/BusinessLayerLogic.dll

Web/bin/BusinessLayerLogic.dll

BusinessLayerLogic/obj/Debug/BusinessLayerLogic.dll

BusinessLayerLogic/obj/Debug/BusinessLayerLogic.pdb

BusinessLayerLogic/obj/Debug/ResolveAssemblyReference.cache

DataLayerLogic/obj/Debug/DataLayerLogic.dll

DataLayerLogic/obj/Debug/DataLayerLogic.pdb

Web/bin/DataLayerLogic.dll

Web/bin/DataLayerLogic.pdb
/.vs/Tgan_4.0
/BusinessLayerLogic/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/BusinessLayerLogic/obj/Debug/BusinessLayerLogic.csproj.CopyComplete
