<header>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10">
                <select class="form-control" ng-model="item" ng-options="item as (item.RoundNo + ' .Spieltag') for item in roundList"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button class="btn btn-info" type="button" ng-click="loadData(item.ID)">Daten laden ...</button>
            </div>
        </div>
    </form>
</header>

