<div class="container">

	<h3>Auswertung der Tendenz pro Saison und Benutzer</h3>

	<my-close></my-close>


	<div class="row">
		<div class="col-sm-3 col-md-6 col-lg-4">
			<form class="form-horizontal">
                <my-group></my-group>
                <div class="form-group">
					<label class="col-sm-2 control-label">User:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="User">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Season:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="Season">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tendenz:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="Tipp">
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-9 col-md-6 col-lg-8">
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
                            <th>Tendenz</th>
                            <th>Anzahl</th>
                            <th>Details</th>
						</tr>
					</thead>
					 
                    <tbody ng-repeat="tendency in tganData | filter:User | filter:Season | filter:Tipp | orderBy:'Tipp'">
                        <tr>
                            <td>{{ tendency.Tipp }}</td>
                            <td>{{ tendency.Count }}</td>
                            <td><button class="btn btn-info" type="button" ng-click="selectTableRow($index, tendency.Tipp)">Details auf Ebene Saison</button></td>
                        </tr>
                        <tr ng-show="!seasonDataCollapse[$index]">
                            <td colspan="3">
                                <div>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Tendenz</th>
                                                <th>Saison</th>
                                                <th>Anzahl</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="season in tendency.SeasonGroup | filter:User | filter:Season | filter:Tipp | orderBy:'Season':true">
                                            <tr>
                                                <td>{{ season.Tipp }}</td>
                                                <td>{{ season.Season }}</td>
                                                <td>{{ season.Count }}</td>
                                                <td><button class="btn btn-info" type="button" ng-click="">Details auf Ebene Benutzer</button></td>
                                            </tr>
                                            <tr>
                            <td colspan="4">
                                <div>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Tendenz</th>
                                                <th>Saison</th>
                                                <th>Benutzer</th>
                                                <th>Anzahl</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="user in season.UserGroup | filter:User | filter:Season | filter:Tipp | orderBy:'User'">
                                            <tr>
                                                <td>{{ user.Tipp }}</td>
                                                <td>{{ user.Season }}</td>
                                                <td>{{ user.User }}</td>
                                                <td>{{ user.Count }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
				</table>
			</div>
		</div>
	</div>

</div>