<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayerLogic.Properties.Settings.Fussballtipp_tganConnectionString" connectionString="Data Source=nlpa27;Initial Catalog=Fussballtipp_tgan;Persist Security Info=True;User ID=sa;Password=lpalpa" providerName="System.Data.SqlClient"/>
        <add name="DataLayerLogic.Properties.Settings.Fussballtipp_tganConnectionString1" connectionString="Data Source=195.149.74.50;Initial Catalog=Fussballtipp-tgan;Persist Security Info=True;User ID=lpauser;Password=lpalpa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
